<a href="https://colab.research.google.com/github/awidener21/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_DS_Unit_1_Sprint_Challenge_2_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 is a variable that indicates whether or not a person's request for credit has been approved or denied. This is a good candidate for a y variable since we might want to use the other features to predict this one. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# TODO

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:


names = ['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', header=None,names=names)
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [6]:
df.isnull().sum()
df.describe()

               A3          A8        A11            A15
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

In [9]:
num_missing = (df[['A3','A8','A11','A15']] == 0).sum()
print(num_missing)

A3      19
A8      70
A11    395
A15    295
dtype: int64

In [17]:
from numpy import nan
df[['A3','A8','A11','A15']] = df[['A3','A8','A11','A15']].replace(0, nan)
print(df.isnull().sum())

A1       0
A2       0
A3      19
A4       0
A5       0
A6       0
A7       0
A8      70
A9       0
A10      0
A11    395
A12      0
A13      0
A14      0
A15    295
A16      0
dtype: int64

In [25]:
for i in names:
  print(df[i].value_counts(), '\n')

b    140
a     73
?      3
Name: A1, dtype: int64

27.25    3
20.67    3
27.83    3
25.00    3
20.42    3
        ..
25.25    1
31.33    1
69.17    1
39.50    1
16.08    1
Name: A2, Length: 169, dtype: int64

3.000    8
0.750    6
5.000    5
6.500    5
2.000    5
        ..
0.710    1
2.290    1
2.460    1
5.665    1
5.875    1
Name: A3, Length: 120, dtype: int64

u    181
y     35
Name: A4, dtype: int64

g    181
p     35
Name: A5, dtype: int64

c     56
q     37
w     27
x     18
cc    14
m     14
aa    13
k     11
ff     9
i      8
e      5
d      3
r      1
Name: A6, dtype: int64

v     132
h      54
bb     15
ff      9
z       2
n       2
dd      2
Name: A7, dtype: int64

1.000     10
1.750     10
2.500      9
2.000      9
0.040      8
          ..
2.125      1
17.500     1
3.125      1
4.250      1
3.750      1
Name: A8, Length: 91, dtype: int64

t    164
f     52
Name: A9, dtype: int64

t    216
Name: A10, dtype: int64

1.0     55
2.0     33
6.0     17
3.0     16
11.0    14
5.0     12
7.0     12
4.0     11
8.0      8
9.0      7
12.0     7
14.0     6
10.0     5
15.0     3
16.0     3
17.0     1
19.0     1
40.0     1
13.0     1
67.0     1
20.0     1
23.0     1
Name: A11, dtype: int64

f    116
t    100
Name: A12, dtype: int64

g    216
Name: A13, dtype: int64

00000    48
00200    12
00080    12
00120    10
00100     8
         ..
00174     1
00032     1
00396     1
00395     1
00253     1
Name: A14, Length: 81, dtype: int64

1.0        9
500.0      9
1000.0     6
6.0        5
300.0      5
          ..
134.0      1
1344.0     1
321.0      1
948.0      1
26726.0    1
Name: A15, Length: 152, dtype: int64

+    152
-     64
Name: A16, dtype: int64

In [0]:


df['A14']= df['A14'].replace({'?':np.NaN})

In [50]:
for i in names:
  print(df[i].value_counts(), '\n')

b    140
a     73
Name: A1, dtype: int64

23.25    3
27.83    3
20.67    3
20.42    3
23.08    3
        ..
69.17    1
39.17    1
26.92    1
32.17    1
30.08    1
Name: A2, Length: 168, dtype: int64

3.000    8
0.750    6
5.000    5
6.500    5
2.000    5
        ..
0.710    1
2.290    1
2.460    1
5.665    1
5.875    1
Name: A3, Length: 120, dtype: int64

u    181
y     35
Name: A4, dtype: int64

g    181
p     35
Name: A5, dtype: int64

c     56
q     37
w     27
x     18
cc    14
m     14
aa    13
k     11
ff     9
i      8
e      5
d      3
r      1
Name: A6, dtype: int64

v     132
h      54
bb     15
ff      9
z       2
n       2
dd      2
Name: A7, dtype: int64

1.000     10
1.750     10
2.500      9
2.000      9
0.040      8
          ..
2.125      1
17.500     1
3.125      1
4.250      1
3.750      1
Name: A8, Length: 91, dtype: int64

t    164
f     52
Name: A9, dtype: int64

t    216
Name: A10, dtype: int64

1.0     55
2.0     33
6.0     17
3.0     16
11.0    14
5.0     12
7.0     12
4.0     11
8.0      8
9.0      7
12.0     7
14.0     6
10.0     5
15.0     3
16.0     3
17.0     1
19.0     1
40.0     1
13.0     1
67.0     1
20.0     1
23.0     1
Name: A11, dtype: int64

f    116
t    100
Name: A12, dtype: int64

g    216
Name: A13, dtype: int64

00000    48
00080    12
00200    12
00120    10
00100     8
         ..
00432     1
00032     1
00396     1
00395     1
00174     1
Name: A14, Length: 80, dtype: int64

1.0        9
500.0      9
1000.0     6
6.0        5
300.0      5
          ..
134.0      1
1344.0     1
321.0      1
948.0      1
26726.0    1
Name: A15, Length: 152, dtype: int64

+    152
-     64
Name: A16, dtype: int64

In [0]:
df['A2'] = pd.to_numeric(df['A2'])
df['A14'] = pd.to_numeric(df['A14'])

In [55]:
df.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15    float64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
plus = df[df['A16'] == "+"]
minus = df[df['A16'] == "-"]

In [57]:
plus.mean()

A2       33.264238
A3        6.368257
A8        3.748618
A11       7.197368
A14     168.753333
A15    2710.039474
dtype: float64

In [58]:
minus.mean()

A2      27.285000
A3       4.284688
A8       1.574063
A11      2.437500
A14    217.396825
A15    280.718750
dtype: float64

In [59]:
plus.isnull().sum()

A1     3
A2     1
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    2
A15    0
A16    0
dtype: int64

In [60]:
minus.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    1
A15    0
A16    0
dtype: int64

In [61]:
ttest_ind(plus['A2'], minus['A2'],
          nan_policy='omit')

Ttest_indResult(statistic=3.280373007558489, pvalue=0.0012110990185272075)

In [73]:
ttest_ind(plus['A11'], minus['A11'],
          nan_policy='omit')

Ttest_indResult(statistic=5.071509805161119, pvalue=8.539732933766088e-07)

In [0]:
def ttest_tester(x,y):
  num_com = ['A2','A3','A8','A11','A14','A15']
  for i in num_com:
    print(ttest_ind(x[i], y[i],
          nan_policy='omit'))

In [69]:
ttest_tester(plus, minus)

Ttest_indResult(statistic=3.280373007558489, pvalue=0.0012110990185272075)
Ttest_indResult(statistic=2.478040446627391, pvalue=0.013984206242758984)
Ttest_indResult(statistic=3.6766038888168247, pvalue=0.0002989067319772509)
Ttest_indResult(statistic=5.071509805161119, pvalue=8.539732933766088e-07)
Ttest_indResult(statistic=-1.6068913948991796, pvalue=0.10957360626219603)
Ttest_indResult(statistic=2.934684378958489, pvalue=0.003703115030423184)

In [70]:
A9_cross_tab =pd.crosstab(df['A16'], df['A9'])
A9_cross_tab

A9    f    t
A16
+     1  151
-    51   13

In [71]:
chi_squared_A9,pvalue_A9,dof_A9,expected_A9 = stats.chi2_contingency(A9_cross_tab)
print(chi_squared_A9)
print(pvalue_A9)
print(dof_A9)
print(expected_A9)

149.5964917423719
2.124016083191611e-34
1
[[ 36.59259259 115.40740741]
 [ 15.40740741  48.59259259]]

In [78]:
A12_cross_tab =pd.crosstab(df['A16'], df['A12'])
A12_cross_tab

A12   f   t
A16
+    87  65
-    29  35

In [79]:
chi_squared_A12,pvalue_A12,dof_A12,expected_A12 = stats.chi2_contingency(A12_cross_tab)
print(chi_squared_A12)
print(pvalue_A12)
print(dof_A12)
print(expected_A12)

2.1183790834845735
0.14554050476630634
1
[[81.62962963 70.37037037]
 [34.37037037 29.62962963]]

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

the Ttest A2 had one missing value in the plus and no missing values in the mean. The pvalue was <.005 so i would assume that we would fail to reject the null Hypothesis.

the Ttest for A11 was very different from A2. The means of the plus and minus were vastly different. We would reject the null Hypothesis.

My two chi tests are completely different

The A9 chi square test came out high at 149 showing that there is no relationship between the groups (f/t)

My A12 chi square test came out low at 2.1

I think the most challenging part of the sprint challenge was trying to figure out which part of the data to use and how well I would be able to compare it.

## Part 4 - Bayesian vs Frequentist Statistics

Using a minimum of 2-3 sentences, give an explanation of Bayesian and Frequentist statistics, and then compare and contrast these two approaches to statistical inference.

Bayesian uses probabilities for both hypotheses and data. It depends on the prior and likelihood of observed data. 

Frequentist never uses or gives the probability of a hypothesis (no prior or posterior). It depends on the likelihood of the observed and unobserved data and does not require a prior.

So the main difference is in how the probabiity is used. Frequentists use probability only to model certain processes broadly. Bayesians use probability more widely to model both sampling and other kinds of uncertainty

# Stretch Goals: 
Do these to get a 3. These are not required in order to pass the Sprint Challenge.

## Part 1: 

Make sure that all of your dataframe columns have the appropriate data types. *Hint:* If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function. In order to get a 3 on this section make sure that your data exploration is particularly well commented, easy to follow, and thorough.

## Part 2:

Write functions that can calculate t-tests and chi^2 tests on all of the appropriate column combinations from the dataset. (Remember that certain tests require certain variable types.)

## Part 3: 

Calculate and report confidence intervals on your most important mean estimates (choose at least two). Make some kind of a graphic or visualization to help us see visually how precise these estimates are.

## Part 4:

Give an extra awesome explanation of Bayesian vs Frequentist Statistics. Maybe use code or visualizations, or any other means necessary to show an above average grasp of these high level concepts.

In [0]:
# You can work the stretch goals down here or back up in their regular sections
# just make sure that they are labeled so that we can easily differentiate
# your main work from the stretch goals.